@model Biblioteka.DomainModel.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">LibraryID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LibraryID)
    </div>

    <div class="display-label">Position</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Position)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
